body {
  background-color: rgb(213, 209, 221);
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.header-text {
  font-family: 'Oswald', sans-serif;
  line-height: 46px;
  font-size: 52px;
  margin: 0 0 23px 0;
}

.body-text {

}

.centered{
    float: none;
    margin: 0 auto;
}
